#sobre{
	position: relative;	
	
	a{
		top: -4em;
		position: absolute;
		
		@include desktop{
			top: -5em;
		}
	}
	h1{		
		text-align: center;	

		@include desktop{
			padding: 1em;
		}	
	}
	#texto{
		text-align: justify;
		padding: 1.5em;	

		@include tabletLand{
			padding: 0 1.5em;
		}
	}
	img{
		width: 100%;

		@include tabletLand{
			    width: 50%;
			    float: left;
			    margin: 1em;
		}

		@include desktop{
    		float: right;    		
		    width: 50%;
    		margin: 0;
    		margin-left: 1em;
		}
	}
}