html{
	font-family: sans-serif;
	scroll-behavior: smooth;
	background-color: $cor-fundo1;	
	
	.container{	position: relative;}
}
@include phone{
	html{
		font-size: 1.17rem;
	}
}
@include tablet{
	html{
		font-size: 1.5rem;
	}
}
@include desktop{
	html{
		font-size: 1rem;
	}
}