#contato{
	position: relative;	


	@include desktop{
		width: 50%;
		float: left;
		background-color: #eee;
	}
	a{
		position: absolute;
		top: -4em;		
	}
	h1{
		padding-top: 0.5em;
	    text-align: center;
	    margin: 0.5em;	   
	}
	
	form{
		padding: 2em;
		padding-top: 0;

		@include tabletLand{
			padding: 0 6em;

			.contato-dado, #textoarea{
				width: 100%;			
			}
			.contato-regiao{
				width: 30%;	
			}
			
			div{
				float: left;
				padding: 0.5em;
			}
		}
		

		@include desktop{
			padding: 0 2em;
		}

		input, textarea, select{
			width: 100%;
		    padding-top: 0.3em;
		    padding-bottom: 0.3em;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    margin-top: 0.5em;
		    margin-bottom: 0.5em;
		    background-color: #fff;
		}
		
		option{
			font-weight: bold;
			@include tablet{
				font-size: 0.5em;
			}
			@include desktop{
				font-size: 1em;
			}
		}
		
		input[type=submit]{
			background-color: #449dda;
			padding: 0.5em;
			font-size: 2em;
			color: #FFF;	
		}		
	}
}