
#projetos{
	background-color: $cor-fundo2;
	height: 33em;
	width: 100%;

	@include tablet{
		height: 39em;
	}

	@include tabletLand{
		height: 30em;
	}
	@include desktop{
		width: 50%;
		float: left;
		height: 37em;
	}
	h1{
		text-align: center;
		padding: 1em;
		color: #fff;

		@include tabletLand{
			padding: 0.5em;
		}
	}
	a{
		position: absolute;
		top: 82.5em;	
				
		@include tablet{		
			top: 88em;		
		}
		@include tabletLand{
			top: 55.5em;
		}
		@include desktop{
			top: 62.5em;
		}
	}	
	
}
	
.slidesProj{
	display: none;	
	height: 17em;	

	@include tablet{
		height: 23em;		
	}
	@include tabletLand{
    	height: 16em;
	}
	@include desktop{
    	height: 21em;
    	padding: 0.75em;
	}
	
	.caption-container {
	  text-align: center;
	  background-color: $cor-fundo2;
	  color: white;
	  height: 8em;
	  position: relative;
	  top: -0.3em;

		@include tabletLand{
			float: right;
			right: 5em;
			width: 14em;
		}
		@include desktop{
			height: 21em;
			background-color: transparent;
		}
	  h2{
	  	color: #ffb300;
	  	margin: 0.5em;	  	
	  }
	  h4{
	  	margin: 0.5em;
	  	b{
	  		color: $cor-slidetext;
	  	}
	  }
	  p{
	  	width: 20%;
	  	float: left;
	  	margin: 0.5em;

	  	@include tabletLand{
	  		width: 100%;
		  }
	  	b{
	  		color: $cor-slidetext;
	  	}
	  }	  
	}

	.building{
		width: 100%;
		height: 100%;		

		@include tabletLand{	
			width: 50%;	
		}			
	}			
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 0.5em;
    top: 50em;
	color: white;
	font-weight: bold;
	font-size: 2em;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;

	&:hover {
	  background-color: rgba(0, 0, 0, 0.8);
	}

	@include tablet{
		top: 54em;
	}

	@include tabletLand{
		display: none;
	}
}

.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
#row{		
display: none;	

	@include tabletLand{
		display: block;	
		padding-top: 0.75em;
		padding-left: 0.75em;
	}

	&:after {
		content: "";
		clear: both;
	}
	.column {
		float: left;
		width: 5em;

		
		/*@include desktop{
			width: 8em;
		}*/
		.mini{
			cursor: pointer;
			opacity: 0.6;
			height: 3em;
			width: 100%;
			&:hover {
			  opacity: 1;
			}
			img{width: 100%;}
		}	
		.active {
		  opacity: 1;
		  transition: opacity 1s;
		}					
	}			
}





