.slidesHome{
	display: none;
	overflow: hidden;
	height: 36rem;

	@include tablet{
		height: 43rem;
	}
	@include tabletLand{
		height: 32em;
	}
	@include desktop{
		height: 39em;
	}
	
	img{
		height: 100%;
		width: auto;
		left: -65%;
		position: relative;

		@include tablet{ 
			left: -35%;
		 }
		 @include tabletLand{ 
			left: 0;
		 }
		 @include desktop{ 
			width: 100%;
		 }
	}
	
	.mensagem{
		background-color: rgba(42, 85, 136, 0.73);
	    position: relative;
	    width: 9em;
	    top: -40%;
	    border-radius: 10%;
	    padding: 0.5em;
	    left: 3%;
	    text-align: center;
	    color: #fff;
	    font-size: 1.2em;

	    @include tabletLand{
	    	font-size: 1.5em;
	    	left: 50%;
	    }
	    @include desktop{
	    	font-size: 2em;
		    left: 70%;
	    }

	}
}
.last{ display: block; }
.fade{ animation: fade 1s; }

@keyframes fade{
	from{ opacity: 0.6; }
	to{ opacity: 1; }
}

.animaSlide{ animation: animaSlide 1s; }

@keyframes animaSlide{
	0%{ top: 0; }
	50% { top: -50%; }
	100% { top: -40%; }
}	

